<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TaskRabbit - {{ page.title }}</title>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/documentation.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="header-container">
      <div id="header">
        <div id="cloudburst"></div>
        <a href="/" id="header-logo"><img src="/images/header-taskrabbitlogo.png" alt="TaskRabbit" height="62" width="162" border="0" /></a>
      </div>
    </div>
    <div id="container">
      <div id="main" class="span-24">
        <div id="sidebar" class="span-6">
          <ul>
          {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
        <div id="content" class="span-18 last">

          {{ content }}

        </div>
      </div>
    </div>

     <div id="footer" >
    </div><!-- /#footer -->
  </body>
</html>