/*  Header
------------------------------*/
#header-container {
  background: #83c6eb url(/images/header-bg.jpg) repeat-x 0 0;
  height: 62px;
  width: 100%; 
}
  #header {
    height: 100%;
    margin: 0 auto;
    position: relative;
    left: -2px;
    width: 955px;
  }
    #cloudburst {
      background: url(/images/header-cloudburst.jpg) no-repeat 0 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: -65px;
      width: 648px;
      z-index: 0;
    }
    #header #header-logo {
      display: block;
      float: left;
      margin-right: 26px;
      position: relative;
      z-index: 1;
    }

#content code {
  white-space: pre;
}

#container {
  margin: 0 auto;
  width: 950px;
}

#container:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

#sidebar {
  margin: 39px 0 0;
}

  #sidebar ul {
    list-style:none;
    margin: 0;
  }
    #sidebar ul li {
      margin-right: 20px;
    }
      #sidebar ul a {
        display: block;
        line-height: 27px;
        padding: 0 0 0 10px;
      }
        #sidebar ul a:hover {
          background: url(../images/menu_selected.png) no-repeat 0 0;
          color: #fff;
          text-decoration: none;
        }